.crud-block {
	width: 570px;
	margin: 10px auto;

	padding: 35px;
	border-radius: 30px;
	box-shadow: 0 0 20px 10px rgb(126, 126, 126);
	background-color: rgb(255, 255, 255);
	/* background: linear-gradient(135deg, rgba(139, 139, 139, .5) 10%, rgb(0, 0, 0, .3), rgb(139, 139, 139, .5), rgb(139, 139, 139, .5), rgb(0, 0, 0, .1), rgb(139, 139, 139, .5)); */
}

.crud-inputs::placeholder {
	color: rgb(26, 26, 26);
}

.crud-inputs__inner-select {
	width: 150px;
}

.input-form2 {
	display: flex;
	margin: 1em 2em;
	width: 100%;
	justify-content: space-between;
	/* flex-wrap: wrap; */
	/* margin-bottom: 20px; */
}

.crud-input-block1 {
	margin: 2em;
	width: 450px;
	/* padding: 30px 0; */
	border-radius: 18px;
	display: flex;
	justify-content: space-around;
	background-color: rgb(214, 214, 214);
}

.crud-inputs-mini {
	background-color: rgb(140, 140, 140);

	width: 100px;
	height: 35px;
	text-align: center;
	font-size: 19px;
	border-radius: 0;
	border-radius: 10px;
	box-shadow: 0 1px 0 black, 0 10px 20px -8px rgb(0, 0, 0);
	border: none;
	transition: 0.7s;
}

.crud-inputs-mini::placeholder {
	color: black;
}

.crud-input-block2 {
	margin-top: 5px;
	width: 500px;
	padding: 30px 0;
	border-radius: 18px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(214, 214, 214);
}

.crud-inputs-block4 {
	width: 500px;
	padding: 0px 0 20px;
	border-radius: 18px;
	display: flex;
	align-items: center;
	background-color: rgb(214, 214, 214);
	box-shadow: 0 0 30px 5px rgba(255, 189, 36, 0.9);
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	flex-wrap: wrap;
}

.crud-inputs-block4-select {
	display: flex !important;
	justify-content: space-between !important;
	width: 80%;
}

.crud-inputs-block3 {
	width: 500px;
	padding: 30px 0 10px;
	border-radius: 18px;
	background-color: rgb(214, 214, 214);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 20px rgb(36, 255, 149, 0.4);
}

.crud-inputs-mini:hover,
.crud-inputs:hover {
	box-shadow: 0 10px 20px -8px rgb(48, 255, 159);
	transition: 0.6s;
}

.create-btn {
	width: 300px;
	height: 40px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	transition: 0.4s;
	background-color: rgb(0, 255, 157);
	font-size: 1.3em;
}

.create-btn:hover {
	box-shadow: 0 10px 20px rgb(179, 208, 83);
	transform: translateY(-3px);
}

.create-btn:active {
	transition: 0.2s;
	box-shadow: 0px 3px 10px rgb(146, 255, 63);
	transform: translateY(2px);
}

.input-block2 {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.crud-inputs {
	border: none;
	background-color: rgb(140, 140, 140);
	width: 400px;
	height: 40px;
	text-align: center;
	font-size: 19px;
	border-radius: 0;
	border-radius: 10px;
	box-shadow: 0 1px 0 black, 0 10px 20px -8px rgb(0, 0, 0);
	margin: 10px;
	transition: 0.7s;
}

input:focus::placeholder {
	-moz-text-blink: true;
	transition: 1s;
	color: transparent;
}

.css-18nu0jg-MuiFormLabel-root-MuiInputLabel-root {
	color: rgb(0, 0, 0) !important;
}

.css-rqf8pt-MuiInputBase-root-MuiInput-root-MuiSelect-root:before {
	border-bottom: 2px solid rgb(0, 0, 0) !important;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
	color: rgb(0, 0, 0) !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
	background-color: rgb(154, 154, 154) !important;
}

.menu-item {
	transition: 0.5s;
}

.menu-item:hover {
	background-color: black !important;
	color: aliceblue;
	transition: 0.8s;
}

.inputs-width {
	width: 93%;
}

.input-block2__right {
	/* width: 300px; */
	/* padding-right: 30px; */
}

.avatar-image {
	width: 60px !important;
	height: 60px !important;
}

.avatar-text {
	text-align: center;
	cursor: pointer;
	margin-top: 5px;
	color: cadetblue;
}
