.home-container {
	width: 100%;
	height: 1024px;
	display: flex;
	justify-content: space-between;
	/* background: rgb(255, 255, 255, .7); */
	/* backdrop-filter: blur(30px); */
	padding: 12.4vw 8.5vw;
}

.home-container__left-text-big {
	font-family: 'Inter';
	font-weight: 600;
	font-size: 38px;
	color: rgba(0, 18, 51, 1);
	margin-bottom: 24px;
}

.home-container__left {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40.5vw;
	padding-top: 8.4vw;
	padding-left: 3.6vw;
}

.logo-color {
	color: rgba(86, 105, 255, 1);
}

.home-container__left-text-small {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 28px;
	/* line-height: 34px; */
	color: rgba(0, 18, 51, 1);
	margin-bottom: 50px;
}

.home-container__left-button {
	width: 266px;
	height: 66px;
	border: none;
	background-color: rgba(86, 105, 255, 1);
	color: #fff;
	border-radius: 16px;
	margin-left: 1.8vw;
	font-size: 30px;
}

.home-container-right {
	width: 608px;
	height: 608px;
}

.home-container-right>img {
	width: 100%;
}

.home-container-img {
	width: 30vw;
}

.def-none2 {
	display: none;
}

.bg-ellipse-2 {
	position: absolute;
	bottom: -45%;
	left: 5%;
	z-index: -1;
	background: rgba(19, 64, 153, .57);
	box-shadow: 0 0 50px 70px rgb(0, 40, 119, .3);
	border-radius: 200px;
	width: 355px;
	height: 350px;
	filter: blur(70px);
}

.bg-ellipse-1 {
	position: absolute;
	z-index: -1;
	top: -25%;
	left: 25%;
	background: rgba(19, 64, 153, .57);
	box-shadow: 0 0 50px 100px rgb(0, 40, 119, .3);
	border-radius: 200px;
	filter: blur(180px);
	width: 355px;
	height: 360px;
}