@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.register-form-back {
	width: 1440px;
	height: 1024px;
	position: relative;
	background: #338BB1;
	margin: auto;
}

.register-group {
    position: absolute;
    width: 509px;
    height: 579px;
    border-radius: 16px;
    margin-left: 466px;
    margin-top: 210px;
    background: #FFFFFF;
	padding-left: 86px;
	padding-top: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.register-group h3 {
    width: 203px;
    height: 39px;
    margin-left: 67px;
	margin-right: 67px;
	margin-bottom: 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.register-group .input-desc {
	height: 22px;
	width: 337px;
	margin-top: 9px;
}

.register-group input {
    width: 337px;
    height: 45px;
	margin-top: 10px;
	border: 1px solid #001233;
    border-radius: 8px;
	box-sizing: border-box;
    text-align: center;
    transition: 0.4s;
}

.register-btn { 
    font-size: 20px;
    line-height: 24px;
    transition: 0.5s;
    border-radius: 8px;
	margin-top: 21px;
	margin-left: 30px;
    width: 278px;
    height: 44px;
    background: #5669FF;
}

.register-btn-log-in {
    font-size: 20px;
    line-height: 24px;
    transition: 0.5s;
    border: 1px solid #001233;
    border-radius: 8px;
	margin-top: 17px;
	margin-left: 30px;
    width: 278px;
    height: 44px;
    background: #FFFFFF;
}

.register-btn:hover {
	transform: translateY(-5px);
	box-shadow: 0 20px 30px -6px rgb(59, 30, 186), 0 0px 4px -8px rgb(0, 255, 0),
		inset 0 0 100px rgb(255, 255, 255);
	transition: 0.7s;
	border: none;
}

.register-btn:active {
	transform: translateY(2px);
	box-shadow: 0 20px 20px -6px rgb(59, 30, 186), 0 0px 1px -8px rgb(0, 255, 0);
	transition: 0.3s;
}

.gender-select {
	background-color: transparent;
	width: 21.3vw;
}

.radio-group {
	margin: auto;
}

.css-zxtyt4-MuiPaper-root-MuiAppBar-root {
	background-color: transparent !important;
	box-shadow: none !important;
}

/* .css-hyum1k-MuiToolbar-root {
  display: block !important;
  -webkit-box-align: start;
} */

/* .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
	padding: 8px 14px !important;
} */
