.App {
	/* padding: 2rem; */
	background-color: #ffffff;
	background: linear-gradient(135deg,
			rgba(139, 139, 139, 0.5) 1%,
			rgb(0, 0, 0, 0.3),
			rgb(139, 139, 139, 0.5),
			rgb(139, 139, 139, 0.5),
			rgb(0, 0, 0, 0.1),
			rgb(139, 139, 139, 0.5));
	border: 2px solid rgba(255, 255, 255, 0.3);
	height: 93%;
	border-radius: 19px;
	text-align: center;
	box-shadow: 0px 0px 15px 3px rgb(45, 97, 73);
}